#tablero{
  display:grid;
  grid-template-columns: repeat(8, 32px);
  grid-template-rows: repeat(8, 32px)
}  

#tablero div{
  background-color: #BBBBBB;
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  border-right: 2px solid #A9A9A9;
  border-bottom: 2px solid #A9A9A9;
  text-align: center;
  line-height: 32px;
}
